*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

body{

background:
linear-gradient(rgba(10,10,10,.90),rgba(10,10,10,.90)),
url(background.jpg);

background-size:cover;
background-position:center;
background-repeat: no-repeat;
background-attachment:fixed;

color:white;

}

header{

text-align:center;

padding:60px 20px;

}

.voltar{

position:absolute;

left:40px;
top:35px;

text-decoration:none;

color:#d4af37;

font-size:18px;

}

header h1{

font-size:46px;

margin-bottom:10px;

}

header p{

max-width:650px;

margin:auto;

color:#cfcfcf;

line-height:28px;

}

.container{

display:flex;

justify-content:center;

padding:40px 20px 80px;

}

form{

width:100%;
max-width:750px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

border-radius:20px;

padding:40px;

}

.campo{

margin-bottom:25px;

display:flex;

flex-direction:column;

}

label{

margin-bottom:10px;

font-weight:600;

color:#d4af37;

}

input,
select,
textarea{

padding:15px;

background:#1d1d1d;

border:1px solid #333;

border-radius:10px;

color:white;

font-size:15px;

outline:none;

transition:.3s;

}

input:focus,
select:focus,
textarea:focus{

border-color:#d4af37;

box-shadow:0 0 15px rgba(212,175,55,.3);

}

textarea{

resize:vertical;

}

button{

width:100%;

padding:18px;

border:none;

border-radius:12px;

background:#d4af37;

color:#111;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-5px);

box-shadow:0 15px 30px rgba(212,175,55,.25);

}

@media(max-width:768px){

.voltar{

position:static;

display:inline-block;

margin-bottom:25px;

}

header h1{

font-size:36px;

}

form{

padding:25px;

}

}