*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:
linear-gradient(rgba(8,8,8,.92),rgba(8,8,8,.92)),
url(background.jpg);

background-size:cover;
background-position:center;
background-attachment:fixed;

color:white;

}

header{

padding:70px 20px;
text-align:center;

}

.voltar{

position:absolute;
left:40px;
top:35px;

text-decoration:none;
color:#d4af37;

}

.perfil img{

width:140px;
margin-bottom:20px;

}

.perfil h1{

font-size:48px;

}

.perfil h2{

color:#d4af37;
font-weight:400;
margin:10px 0;

}

.perfil p{

max-width:700px;
margin:auto;
line-height:30px;
color:#ccc;

}

section{

max-width:1200px;
margin:auto;
padding:70px 30px;

}

section h2{

text-align:center;
margin-bottom:40px;
font-size:38px;

}

.sobre p{

text-align:center;
line-height:32px;
font-size:18px;
color:#ccc;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:25px;

}

.skill{

background:rgba(255,255,255,.05);

padding:30px;

border-radius:20px;

text-align:center;

transition:.3s;

}

.skill:hover{

background:#d4af37;
color:#111;
transform:translateY(-8px);

}

.skill i{

font-size:50px;
margin-bottom:15px;

}

.estatisticas{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:25px;

text-align:center;

}

.numero{

background:rgba(255,255,255,.05);

padding:35px;

border-radius:20px;

}

.numero h3{

font-size:45px;
color:#d4af37;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
gap:30px;

}

.card{

background:rgba(255,255,255,.05);

border-radius:20px;

overflow:hidden;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:100%;
height:230px;
object-fit:cover;

}

.card h3{

margin:20px;

}

.card p{

margin:0 20px 25px;
color:#ccc;

}

.card a{

display:block;

margin:20px;

padding:14px;

text-align:center;

background:#d4af37;

color:#111;

text-decoration:none;

border-radius:10px;

font-weight:600;

}

.contato{

text-align:center;

}

.contato p{

margin:20px 0 35px;

color:#ccc;

}

.contato a{

display:inline-block;

padding:18px 40px;

background:#25D366;

color:white;

text-decoration:none;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.contato a:hover{

transform:scale(1.05);

}