*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:
linear-gradient(rgba(8,8,8,.90),rgba(8,8,8,.90)),
url(img/bg-1.png);

background-size:cover;
background-position:center;
background-attachment:fixed;

color:white;

}

header{

text-align:center;
padding:60px 20px;

}

.voltar{

position:absolute;

left:40px;
top:35px;

text-decoration:none;
color:#d4af37;

font-size:18px;

}

header h1{

font-size:45px;
margin-bottom:10px;

}

header p{

color:#c8c8c8;
font-size:18px;

}

.servicos{

max-width:1200px;

margin:auto;

padding:50px 30px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:30px;

}

.card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.08);

border-radius:20px;

padding:35px;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

background:#d4af37;

color:#111;

}

.card i{

font-size:45px;

margin-bottom:20px;

color:#d4af37;

}

.card:hover i{

color:#111;

}

.card h2{

margin-bottom:15px;

font-size:25px;

}

.card p{

line-height:28px;

}

.cta{

text-align:center;

padding:70px 20px;

}

.cta h2{

font-size:36px;

margin-bottom:15px;

}

.cta p{

color:#bbb;

margin-bottom:35px;

}

.botao{

display:inline-block;

padding:18px 40px;

border-radius:12px;

background:rgb(61, 159, 61);

color:#111;

text-decoration:none;

font-weight:600;

transition:.4s;

}

.botao:hover{

transform:scale(1.05);

}